nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  background-color: #0070f3;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.2s linear;
}
button:hover {
  background-color: #fff;
  color: #000;
}
